body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
}
html,body{
  height:100%;
}
#container {
  max-width: 960px;
  background: #fff;
  margin: 60px;

}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

 a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}



header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

#menu{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding:15px;
  width: 50%;
}

.logo{
  height: 120px;
  width: 140px;
}
 li> .navElem,
 li> a{
  text-decoration: none;
  font-weight: 700;
  fill:#39add1;
  color:#39add1;
  margin: 5px;
  transition: fill,color ;
}
 li:hover .navElem,
 li:Hover a{
  fill: #ADD8E6;
  color:#ADD8E6;
}

.words{
  visibility: hidden;
}
.coat{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.coat-sable{
  color:	#CD853F;
}
.coat-fawn{
  color:#FFDEAD;
}
.coat-red{
  color:#800000;
}
.coat-stone{
  color:#52595F;
}

/* animations for paw-fingers */
@keyframes translate {
	0% { }
	50% 	{
    transform: translate(0px, 5px);
		-webkit-transform: translate(0px, 5px);
  }
  100%{  }
}


.logo:hover .paw{
  animation: translate 1s linear ;
  -webkit-animation: translate 1s linear ;
}

@media only screen and (min-width: 425px)  {
  .words{
    visibility: visible;
  }
  #container {
    max-width: 960px;
    background: #fff;
    margin: auto;
    margin-top: -80px;
    min-height: 100%; /* new line */
  }
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #111;
    background: #edeff0;
    background-image: url("svgs/background.svg");
    background-repeat: repeat;
  }

}
